@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

/* 

Pequenas telas: até 600px
Celular: 600px ~ 768px
Tablet: 768px ~ 992px
Desktop: 992px ~ 1200px
Grandes telas: acima de 1200px 

*/

:root {
      --color-bg: #d45300;
      --color-items: #b3D8EA;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
      body {
            background-image: linear-gradient(to top,var(--color-items), var(--color-bg));
      }

      section#login {
            width: 80vw;
            height: 350px;
            overflow: hidden;
      }

      div#imagem {
            float: left;
            width: 30%;
            height: 100%;
      }

      div#forms {
            float: right;
            width: 70%;
            height: 100%;
            font-size: 0.9em;
      }

      div#forms > p {
            margin-bottom: 10px;
      }

      div.data {
            height: 50px;
      }

      div.data span {
            font-size: 26px;
            float: left;
            width: 10%;
            padding: 3px;
      }

      div#forms input[type=email], div#forms input[type=password] {
            float: center;
            width: 90%;
            padding: 5px;
            border-radius: 6px;
            border: 1px solid rgba(141, 141, 141, 0.815);
            text-align: center;
      }


}

@media screen and (min-width: 993px) {
      body {
            background-image: linear-gradient(to top,var(--color-items), var(--color-bg));
      }

      section#login {
            width: 950px;
            height: 350px;
            overflow: hidden;
      }

      div#imagem {
            float: right;
            width: 50%;
            height: 100%;
            background-position: left bottom;
            background-size: cover;
      }

      div#forms {
            float: left;
            width: 50%;
            height: 100%;
            border-radius: 15px 0px 0px 15px;
      }

      div#forms h1 {
            font-size: 1.5em;
            padding: 2px;
            font-weight: bold;
      }

      div#forms p {
            font-size: 1em;
            margin-bottom: 15px;
            text-align: left;
      }

      div.data {
            height: 50px;
      }

      div.data span {
            font-size: 26px;
            float: left;
            width: 13%;
            padding: 3px;
      }

      div#forms input[type=email], div#forms input[type=password] {
            float: center;
            width: 87%;
            padding: 5px;
            border-radius: 6px;
            border: 1px solid rgba(141, 141, 141, 0.815);
            text-align: center;
      }

}