@charset "UTF-8";

/* box-level */
h1 {
      background-color: lightgoldenrodyellow;
      
      /* box-sizing */
      width: 500px;
      height: 300px; 
      
      
      border: 10px solid darkslategray;

      /* entre o conteudo e a borda  */
      padding: 20px;
}

/* inline-level */
a{ 
      border: 10px solid brown;

      /* da borda pra fora */
      margin: auto 40px;
}