@charset "UTF-8";

/* Passion One Fonte */
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

/* Sriracha Fonte */
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
      --fonte-titulo: 'Passion One', cursive;
      --fonte-poema: 'Sriracha', cursive;
      
}

* {
      margin: 0px;
      padding: 0px;
}

header {
      background-color: black;
      text-align: center;
}

header h1 {
      font-family: var(--fonte-titulo);
      text-transform: small-caps;
      color: white;
      padding: 50px 0px 10px 0px;
}

header p {
      color: white;
      padding-bottom: 20px;
}

header a, footer a {
      text-decoration: none;
      color: white;
      font-weight: bold;
}

header a:hover, footer a:hover {
      text-decoration: underline;
      color: rgba(255, 255, 255, 0.950);
}

section {
      font-family: var(--fonte-poema);

      padding-top: 10vh;
      padding-bottom: 10vh;
      padding-left: 30px;
      
      line-height: 2em;
}

section.no-picture {
      background-color: white;
      color: black;

}

section.picture {
      background-color: rgba(0, 0, 0, 0.699);
      color: white;
}

section.picture > p {
      background-color: rgba(0, 0, 0, 0.308);
      width: 400px;
}

footer {
      background-color: black;
      text-align: center;
      color: white;
      padding: 10px 10px 5px 10px;
      border-radius: 20px 20px 0px 0px;
}